.card{
    width: 30%;
    margin-left: 2.5%;
    margin-top: 20px;
    float: left;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgba(247,247,247,1);
    color: rgba(164,169,175,1);
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px 5px 0 0;
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: 1px;
}

.body{
    width: 100%;
    overflow-y: auto;
    max-height: 510px;
    word-wrap: break-word;
    background-color: rgba(255,255,255,1);
    color: rgba(164,169,175,1);
    padding-top: 10px;
    padding-left: 10px;
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: 1px;
    border-top-style: none;
    border-radius: 0 0 5px 5px;
}